body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-size: cover;
  background: url("../images/back1.jpg");
}

p {
  margin-left: 300px;
}
.login-box {
  width: 580px;
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 15px;
  padding: 13px 0;
  font-family: "Montserrat", sans-serif;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin-top: 25px;
  margin-bottom: 15px;
  border-bottom: 3px solid #4caf50;
}
.textbox input {
  border: none !important;
  outline: none !important;
  background: none !important;
  color: black !important;
  font-size: 20px;
}

input::placeholder {
  font-family: Georgia, "Times New Roman", Times, serif;
}

button a {
  color: green !important;
  text-decoration: none !important;
}

.login {
  text-align: end;
}

.login a {
  color: black;
  text-decoration: none !important;
}
